<html>
    <head></head>
    <body>
        <h1>Regist</h1>
        <form action="/regist" method="POST">
            <p>email:<input type="text" name="email"></p>
            <p>name:<input type="text" name="name"></p>
            <p>password:<input type="password" name="passwd"></p>
            <p>gender:
                <input type="radio" name="gender" value="1">male
                <input type="radio" name="gender" value="0">female
            </p>
            <p><input type="submit" value="submit"></p>
        </form>
    </body>
</html>